################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Visual_Basics_App/smartFridge_v02/.vs/smartFridge_v02/v16/Server/sqlite3/db.lock
